<div id="koyla_page" class="content">

    <input type="submit" value="Change language" id="changeLanguageBtn" class="button">

    <form>
        <header id="languageTranslatedFromHeader" class="formHeader">English</header>
        <input type="text" id="wordToTranslate"><br>

        <!-- <header class="formHeader">Mela:</header>
        <input type="text" id="melaWord"><br> -->
    </form>

    <input type="submit" value="Submit" id="submitBtn" class="button">

    <header id="languageTranslatedToHeader" class="formHeader">Mela</header>
    <!-- <p>Translate Mela to English</p>
    <input type="submit" value="Submit" id="melaSubmitBtn"> -->

    <div id="translation" class="translationDiv">Translate</div>

</div>

<footer id="footer">
    <!-- Initialize scripts -->
    <script src="common/initPage.js"></script>
</footer>
