.koylaPage {
    position: relative;
    margin: auto;
    width: 50%;
}

.koylaPage input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 30px;
    color: indianred;
}

.koylaPage .formHeader {
    color: mediumblue;
    margin: 10px 106px;
    text-align: center;
    font-size: large;
    border-bottom: 1px solid brown;
}

.koylaPage .translationDiv {
    height: 50px;
    width: 100%;
    background-color: beige;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
    padding-top: 8%;
}

.koylaPage .button {
    margin: 10px 0;
    background-color: burlywood;
    padding: 9px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: darkcyan;
}
